body {
  box-sizing: border-box;

  margin: 0;
  padding: 0;

  // Although this is not a standard, Design team suggest that we use it so supported browsers will use it
  // stylelint-disable-next-line property-no-unknown
  font-smooth: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: var(--background);
  color: var(--text-main);
}

ul,
ol,
li {
  list-style-type: none;
}
