.page-header {
  display: flex;
  justify-content: space-between;

  padding: 15px 20px;

  background: var(--header-background);

  border: 2px solid var(--header-border-color);
}

.page-header__logo {
  width: 50px;

  border-radius: 50%;
}
