.home-page__sidebar {
  .theme-switch {
    justify-content: flex-end;

    margin: 10px;
  }
}

.home-page-sidebar__logo {
  width: 150px;

  margin: 20px auto;

  border-radius: 50%;
}

.home-page-sidebar__logo__signout-button {
  margin: 14px auto;
}
