@import "../../../../core/ui/style/media-queries";

.todocard {
  width: 288px;
  height: 384px;

  overflow: auto;

  padding: 10px 16px;

  border: 2px solid var(--default-border-color);
  border-radius: 12px;

  .input {
    height: fit-content;

    margin-right: 8px;
    padding: 10px;

    border-radius: 4px;
  }
}

.todocard__title {
  display: grid;
  align-items: center;
  grid-template-columns: auto 24px;

  margin-bottom: 8px;
}

.todocard__title__delete-icon {
  width: 24px;
  height: 24px;

  cursor: pointer;

  &:hover {
    color: var(--button-primary-bg);
  }
}

.todocard__add-todo-form {
  display: grid;
  grid-template-columns: auto 55px;

  margin-bottom: 8px;
}

.todocard__todos {
  padding: 0 10px;
}

.todocard__todos__item {
  display: grid;
  align-items: center;
  grid-template-columns: auto 15px 15px;
  gap: 20px;
}

.todocard__todos__item--completed {
  .todocard__todos__item__title {
    text-decoration: line-through;
  }
}

.todocard__todos__item__icon {
  cursor: pointer;

  &:hover {
    color: var(--button-primary-bg);
  }
}

@include for-small-screens {
  .todocard {
    width: 100%;
  }
}
