@font-face {
  font-family: 'Dongle';
  src: url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');

  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Dongle';
  src: url('https://fonts.googleapis.com/css2?family=Dongle:wght@700&display=swap');

  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

  font-weight: 400;
  font-style: normal;
}
