/* stylelint-disable */
.light-theme {
  --background: var(--white);
  --header-background: transparent;
  --header-border-color: var(--gray-100);
  --default-border-color: var(--black);
  --home-page-sidebar-background-color: var(--white);
  --home-page-dashboard-background-color: var(--white);

  --text-main: var(--gray-900);
  --text-link: var(--gray-500);

  --button-primary-bg: var(--purple-500);
  --button-primary-hover-bg: var(--purple-400);
  --button-primary-disabled-bg: var(--gray-100);
  --button-primary-text: var(--white);
  --button-primary-hover-text: var(--white);

  --purple: var(--purple-400);
  --purple-darker: var(--purple-500);
  --orange: var(--orange-400);
  --orange-darker: var(--orange-500);
  --red-darker: var(--red-500);
  --neutral-darker: var(--gray-200);
  --neutral: var(--gray-100);
  --neutral-lighter: var(--gray-50);
  --todos-yellow: var(--yellow-400);
}

.dark-theme {
  --background: var(--gray-900);
  --header-background: var(--black);
  --header-border-color: var(--black);
  --default-border-color: var(--gray-500);
  --home-page-sidebar-background-color: var(--black);
  --home-page-dashboard-background-color: var(--gray-900);

  --text-main: var(--white);
  --text-link: var(--gray-500);

  --button-primary-bg: var(--purple-500);
  --button-primary-hover-bg: var(--purple-400);
  --button-primary-disabled-bg: var(--gray-100);
  --button-primary-text: var(--white);
  --button-primary-hover-text: var(--white);

  --purple: var(--purple-400);
  --purple-darker: var(--purple-500);
  --orange: var(--orange-400);
  --orange-darker: var(--orange-500);
  --red-darker: var(--red-500);
  --neutral-darker: var(--gray-200);
  --neutral: var(--gray-100);
  --neutral-lighter: var(--gray-50);
  --todos-yellow: var(--yellow-400);
}
